{% extends "base.html" %}
{% load humanize %}

{% block title %}View Fitting{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5 class="d-inline">Multibuy</h5>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ fit.name }} x</span>
                    </div>
                    <input id="orders" type="number" class="form-control" placeholder="1" aria-label="Amount" value="1" min="1">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="25" id="multibuy" readonly>Loading...</textarea>
                </div>
                <button id="copyButton" type="button" class="btn btn-sm btn-secondary float-right mt-2" data-bs-content="Multibuy copied to clipboard" data-bs-placement="bottom">Copy to clipboard</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js" integrity="sha256-1/0GA1EkYejtvYFoa+rSq4LfM4m5zKI13Z1bQIhI4Co=" crossorigin="anonymous"></script>
{{fit|json_script:"fit"}}

{% verbatim %}
<script id="multibuy-template" type="x-tmpl-mustache">
# hull
{{hull}}    {{orders}}
{{#sections}}
# {{name}}
{{#items}}
{{name}}    {{amount}}
{{/items}}
{{/sections}}
</script>
{% endverbatim %}

<script defer>
    const ordersElm = document.getElementById("orders");
    const multibuyElm = document.getElementById("multibuy");
    const copyButtonElm = document.getElementById("copyButton");
    const template = document.getElementById("multibuy-template").innerHTML;
    const fit = JSON.parse(document.getElementById("fit").textContent);

    $(() => {
        renderMultibuy(ordersElm.value);
        ordersElm.addEventListener("change", function (event) {
            renderMultibuy(event.target.value);
        });

        copyButtonElm.addEventListener("click", function (event) {
            copyToClipboard()
        });
    })

    function renderMultibuy(orders) {
        const multibuyFit = structuredClone(fit);

        multibuyFit.orders = orders;
        multibuyFit.sections.forEach(section => section.items.forEach(item => (item.amount *= orders)));

        multibuyElm.innerHTML = Mustache.render(template, multibuyFit).trim();
    }

    function copyToClipboard() {
        const multibuy = multibuyElm.value.split("\n").filter(l => !l.startsWith("#")).join("\n");
        navigator.clipboard.writeText(multibuy);
        const popover = bootstrap.Popover.getOrCreateInstance(copyButtonElm);
        setTimeout(function () { popover.hide() }, 2000);
        popover.show();
    }
</script>
{% endblock %}
