{% extends "base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}Create Fleet{% endblock %}

{% block content %}
{{ form.media }}
{% include "fleets/components/time_conversion_utilities.html" %}
<br>
<div class="row">
    <div class="col-md-12 pb-2 d-flex">
        <div class="card flex-fill">
            <div class="card-header bg-primary text-white">Create Fleet</div>
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>

<script>
function updateTime(){
    var currentTime = new Date()
    var hours = currentTime.getHours()
    var minutes = currentTime.getMinutes()
    if (minutes < 10){
        minutes = "0" + minutes
    }
    var t_str = hours + ":" + minutes + " ";
    if(hours > 11){
        t_str += "PM";
    } else {
        t_str += "AM";
    }
    document.getElementById('time_span').innerHTML = new Date().toISOString();
}
setInterval(updateTime, 1000);
</script>
{% endblock %}
