{% extends "base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}Freight Calculator{% endblock %}


{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'standard_freight' %}">Standard Freight</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'jump_freight' %}">Jump Freighter Service</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logistics_index' %}">30 Day Summary</a>
    </li>
</ul>
{% include "calculators/freight_calculator_component.html"  %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function clamp(num, min, max) { return Math.min(Math.max(num, min), max); }
    function updateValue(mult, min, max) {
        return function(index, value) {
            const num = value.replace(/[^-0-9\.]/g, '');
            console.log({value,num});
            return clamp(num * mult, min, max);
        }
    }

    $(function(){
        $('#id_collateral').change(function( event ) {
            if($('#id_collateral').val().indexOf('m') != -1 || $('#id_collateral').val().indexOf('M') != -1)
            {
                $('#id_collateral').val(updateValue(1000000, 0, Number.MAX_VALUE));
            }		
            else if($('#id_collateral').val().indexOf('b') != -1 || $('#id_collateral').val().indexOf('B') != -1)
            {
                $('#id_collateral').val(updateValue(1000000000, 0, Number.MAX_VALUE));
            }
            else
            {
                $('#id_collateral').val(updateValue(1, 0, Number.MAX_VALUE));
            }
        });

        $('#id_m3').change(function( event ) {
            if($('#id_m3').val().indexOf('k') != -1 || $('#id_m3').val().indexOf('K') != -1)
            {
                $('#id_m3').val(updateValue(1000, 0, 335000))
            }
            else
            {
                $('#id_m3').val(updateValue(1, 0, 335000))
            }
        });
    });
</script>
{% endblock %}
